# Copy this file to .env and replace the placeholder values.

GROQ_API_KEY=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
AVIATIONSTACK_API_KEY=0ed145f46a5e3136d2ed978fca42bd62
TAVILY_API_KEY=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
DATABASE_URL=postgresql://umair:F5M9gG3ZwNbVizsSZdT5W3TIW9hqHfOe@dpg-d9ni10u1egvs7384go8g-a.oregon-postgres.render.com/agentmemory_qqiv
DEFAULT_ORIGIN_IATA=DAC
